Welcome, <%= @user.name %>
<span style="float: right;">
  <%= link "View Cart", to: Routes.better_cart_show_path(@socket, :show, user_id: @user.id, user_name: @user.name) %>
</span>

<h1><%= @product.name %></h1>
<%= @product.stock_level %> in stock
<p>
  <button phx-click="add_to_cart" disabled={elem(@button_state, 0)}><%=elem(@button_state, 1)%></button>
</p>

