<h1>Show Product</h1>

<strong>Name:</strong>
<%= @product.name %>

<strong>Sku:</strong>
<%= @product.sku %>

<strong>Stock level:</strong>
<%= @product.stock_level %>

<button phx-click="add_to_cart">Add to Cart</button>
